* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: url(./nativity-glass-full-still-4k.jpg) center no-repeat;
	background-size: cover;
}
#video {
	display: grid;
	height: 100vh;
	align-content: center;
	justify-items: center;
}

#resi-video-player {
	width: 40vw;
}
