* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: url(https://res.cloudinary.com/dl7zkbazs/image/upload/v1608735284/nativity-glass-full-still-4k_odvyya.jpg)
		center no-repeat;
	background-size: cover;
}
#video {
	display: grid;
	height: 100vh;
	align-content: center;
	justify-items: center;
}

#resi-video-player {
	width: 75vw;
}
